.info {
  position: relative;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #141D3A;


  &__list {
    width: 1548px;
    height: 650px;
    display: flex;
    flex-wrap: wrap;
    margin: 100px auto;
  }

  &__item {
    position: relative;
    width: 744px;
    height: 310px;
    display: block;

    background: rgba(255, 255, 255, 0.6);
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.14);
    border-radius: 44px;
    margin: 15px;

    &_active {
      background: linear-gradient(180deg, #4C2B94 0%, rgba(76, 43, 148, 0) 100%), linear-gradient(180deg, #A75FDC 0%, #A34881 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.14);
      filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.14));
      border: none;
      color: #FFFFFF;
    }

  }

  &__item-title {
    width: 439px;
    font-weight: 700;
    font-size: 40px;
    line-height: 116%;
    margin: 30px;
  }

  &__item-text {
    width: 682.84px;
    margin: 30px;
  }

  &__item-image {
    position: absolute;
    top: -39px;
    left: 553px;
  }

  &__link {
    position: absolute;
    left: 1560px;
    top: 166px;
    width: 176px;
    height: 56px;

    align-items: center;

    font-weight: 600;
    font-size: 20px;
    line-height: 150%;

    color: #FFFFFF;
  }

  &__link-image {
    position: absolute;
    right: 0;
    top: 8px;
  }
}