.info {
  position: relative;
  font-weight: 400;
  @include option(margin, 100px 0 0 0, 0);

  color: #141D3A;

  &__list {
    @include option(width, 1555px);
    @include option(height, 650px);
    @include option(margin, 100px auto);


    flex-wrap: wrap;
    display: none;
    @include DESKTOP {
      display: flex;
    }
  }

  &__item {
    position: relative;
    @include option(width, 744px, 256px);
    @include option(min-height, 310px, 320px);
    @include option(margin, 15px, 0 auto);
    @include option(padding, 0, 30px 0 0 21px);

    @include option(font-size, 24px, 17px);
    @include option(line-height, 31px, 20px);

    display: block;

    background: rgba(255, 255, 255, 0.6);
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.14);
    @include option(border-radius, 44px, 20px);

    text-align: left;

    @include DESKTOP {
      &_active {
        background: linear-gradient(180deg, #4C2B94 0%, rgba(76, 43, 148, 0) 100%), linear-gradient(180deg, #A75FDC 0%, #A34881 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.14);
        filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.14));
        border: none;
        color: #FFFFFF;
      }
    }

  }

  &__item-title {
    @include option(width, 439px, 177px);
    @include option(margin, 30px, 0);
    @include option(line-height, 46px, 20px);
    @include option(font-size, 40px, 17px);
    font-weight: 700;

  }

  &__item-text {
    @include option(width, 682.84px, 219px);
    @include option(margin, 30px, 8px 0 0 0);

    @include MOBILE {
      font-weight: 400;
    }
  }

  &__item-image {
    position: absolute;
    @include option(left, 553px, 174px);
    @include option(top, -39px, -22px);

    img {
      @include option(width, 177px, 99px);
      @include option(height, 177px, 99px);
    }
  }

  &__link {
    position: absolute;
    @include option(left, 1560px, 16px);
    @include option(top, 25px, 593px);

    @include option(width, 176px, 175px);
    @include option(height, 56px, 35px);

    @include option(font-size, 20px, 14px);

    align-items: center;

    font-weight: 600;
    line-height: 150%;

    color: #FFFFFF;
    user-select: none;
    text-decoration: none;
  }

  &__link-image {
    position: absolute;
    top: 0;
    right: 0;
    @include option(margin, 5px 0);
    @include option(width, 52px, 35px);
    @include option(height, 52px, 35px);
  }

  &__link-text {
    @include option(width, 120, 128px);
    @include option(margin, 0, 0 10px 0 0);
    @include MOBILE {
      position: absolute;
      top: 37%;
      left: 12%;
    }
  }

  &__carousel {
    display: block;
    @include DESKTOP {
      display: none;
    }

    @include option(margin, 32px 0 79px 0);

    .swiper-wrapper {
      padding: 30px 0 0 0;
    }

    .swiper-slide-active {
      .info__item {
        background: linear-gradient(180deg, #4C2B94 0%, rgba(76, 43, 148, 0) 100%), linear-gradient(180deg, #A75FDC 0%, #A34881 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.14);
        filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.14));
        border: none;
        color: #FFFFFF;
      }
    }
  }
}
