.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  background: #FFDA00;
  border: 0;


  @extend %TEXT-5;

  @include option(width, 358px, 328px);
  @include option(height, 82px, 48px);
  @include option(margin, 50px auto);

  @include option(padding, 15px 42px, 16px 24px);
  @include option(gap, 9px, 8px);
  @include option(border-radius, 13px, 12px);

  @include MOBILE {
    display: flex;
    flex-direction: column;
  }
}
