.winners {
  position: relative;
  padding: 13px 0;

  background-image: url("/images/winners/sphera.png");
  background-repeat: no-repeat;
  background-position: center center;

  @include MOBILE{
    background-image: url("/images/winners/mSphera.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  &__carousel {
    width: 100%;
    @include option(margin, 61px auto 150px auto, -12px auto 130px auto);
  }

  &__item {
    @include option(width, 526px, 259.8px);
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #141D3A;
    font-style: normal;
    pointer-events: none;

    text-align: left;
  }

  &__item-image {
    @include option(width, 424px, 260px);
    @include option(height, 424px, 260px);

    background: linear-gradient(180deg, #DED4D6 0%, #DFD3D3 100%);
    box-shadow: 9px 12px 21px rgba(95, 0, 0, 0.15);
    border-radius: 300px;
  }

  &__item-name {
    height: 27px;
    width: 80%;
    font-weight: 600;

    @include option(font-size, 20px, 17px);
    @include option(line-height, 24px);
    @include option(margin, 35px 0 2px 0);
    color: #141D3A;

    flex: none;
    order: 0;
    flex-grow: 0;

    @include MOBILE {
      font-weight: 400;
    }
  }

  &__item-prize {
    height: 63px;
    width: 80%;
    font-weight: 700;
    line-height: 116%;
    @include option(font-size, 54px, 29px);

    flex: none;
    order: 0;
    flex-grow: 0;

    @include MOBILE {
      letter-spacing: 1.07573px;
      text-transform: uppercase;
    }
  }

  &__nav {
    @include option(width, 259px, 335px);
    @include option(margin, 0 auto, -100px auto 0 auto);

    display: flex;
    justify-content: center;
    z-index: 1;
    user-select: none;

    .swiper-button-disabled {
      opacity: 0.7;
    }

  }

  &__nav-el {
    @include option(width, 45px);
    @include option(height, 45px);

    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      @include option(height, 15.37px);
    }
  }

  &__nav-next {
    right: 0;
  }

  &__nav-prev {
    left: 0;

    img {
      transform: scaleX(-1);
    }
  }

  &__nav-text {
    font-weight: 700;
    @include option(font-size, 20px);
    @include option(line-height, 20px);
    margin: auto;
    color: #141D3A;
  }

  &__sign {
    margin: 12px auto;
    width: max-content;
    @include option(font-size, 16px, 10px);
    @include option(line-height, 22px, 16px);

    font-weight: 500;
    color: #141D3A;
    @include MOBILE {
      font-weight: 400;
    }

    @include DESKTOP {
      margin: 0;
      position: absolute;
      left: 70%;
      top: 980px;
    }
  }

  &__sign-text {
    @include DESKTOP {
      @include option(width, 203px);
    }
  }

  &__icons {
    @include option(margin, 26px 0, 9px 0);
    width: max-content;
  }

  &__icon {
    @include option(width, 65.54px);
    @include option(height, 65.54px);
    @include option(margin, 0 31.5px 0 0, 0 16px 0 0);
  }


}
