@mixin is-burger {
  @include NOT-DESKTOP() {
    @content;
  }
}

#menu-burger {
  display: none;
}

.custom-header {
  @mixin mod($mod) {
    @include modifier("custom-header", $mod) {
      @content;
    }
  }

  //width: 100%;
  //position: absolute;
  padding: 20px;
  background: none;
  //box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

  @include menu-visible {
    background: #111;
  }

  &__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    position: relative;

    @include option(top, 34px, 36px);
    @include option(left, 200px, 16px);
    @include option(width, 92px, 70px);
    @include option(height, 92px, 70px);

    background: url("/images/main/logo.png") no-repeat center {
      size: contain;
    };

    @include is-burger {
      display: none;
    }
  }

  &__burger {
    $h: 1px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 22.5px;
    height: 15px;
    //padding: 20px;
    transition: height 0.3s, transform 0.3s, opacity 0.3s;
    cursor: pointer;

    @include is-burger {
      display: flex;
    }

    @include menu-visible {
      p {
        &:nth-child(1) {
          transform: rotate(45deg) translateY(-2px);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: rotate(-45deg) translateY(2px);
        }
      }
    }

    p {
      width: 100%;
      height: $h;
      margin: 0;
      background-color: $WHITE;
      transition: transform 0.3s, opacity 0.3s;
      transform-origin: center left;
    }
  }

  &__wrapper {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 60%;

    @include is-burger {
      position: absolute;
      top: 55px;
      left: 0;
      width: 100%;
      height: calc(100% - 55px);
      padding: 20px;
      background-color: #000;
      transform: translateX(101%);
      transition: transform 0.3s;
      cursor: pointer;
    }

    @include menu-visible {
      @include is-burger {
        transform: translateX(0%);
      }
    }
  }

  &__content {
  }

}
