.title {
  width: 860px;
  height: 69px;

  font-style: normal;
  font-weight: 700;
  font-size: 73px;
  line-height: 95%;

  @include MOBILE {
    font-size: 32px;
    line-height: 36px;
    margin: 20px 0 0 16px;
  }

  color: #141D3A;
  margin: 150px 0 0 198px;

  &-main {
    margin: 210px 0 0 198px;

    @include MOBILE {
      margin: 209px 0 0 16px;
    }
  }

  &-winners {
    margin: 48px 0 0 193px;

    @include MOBILE {
      margin: 38px 0 0 13px;
    }
  }

  &-rules {
    margin: 28px 0 0 198px;
  }

  &-info {
    margin: 100px 0 0 198px;
  }

  &-download-link {
    margin: 120px 0 0 198px;
  }

  &-prizes {
    position: absolute;
    color: #FFFFFF;
    margin: 51px 0 0 198px;
  }

}