.title {
  height: 69px;

  font-style: normal;
  font-weight: 700;
  line-height: 95%;

  @include option(font-size, 73px, 32px);
  @include option(line-height, 81px, 36px);
  @include option(margin, 0, 20px 0 0 16px);
  @include option(width, 860px, 324px);

  color: #141D3A;
  margin: 150px 0 0 198px;

  &-main {
    @include option(margin, 210px 0 0 0, 209px 0 0 0);
    @include option(width, 767px, 324px);
    @include option(height, 162px, auto);
  }

  &-winners {
    position: absolute;
    @include option(margin, 48px 0 0 193px, 16px 0 0 13px);
  }

  &-rules {
    @include option(margin, 28px 0 0 198px, 94px 0 0 13px);
  }

  &-info {
    @include option(margin, 100px 0 0 198px, 17px 0 0 13px);
  }

  &-download-link {
    @include option(margin, 120px 0 0 198px, 210px 0 0 16px);

    @include MOBILE {
      width: 324px;
      color: #FFFFFF;
    }
  }

  &-prizes {
    position: absolute;
    color: #FFFFFF;
    @include option(margin, 51px 0 0 198px, 17px 0 0 13px);

    @include MOBILE {
      width: 324px;
    }
  }
}
