.rules {

  font-size: 40px;
  color: #FFFFFF;

  @include DESKTOP {
    margin: -100px 0;
  }


  &__carousel {
    @include option(margin, 50px 0 40px 0, 20px 0 0 0);
    @include option(height, 607px, 400px);
    width: 100%;
    user-select: none;
  }

  .swiper-slide-active {

    .rules__item {
      box-sizing: border-box;
      @include option(width, 1135px, 257px);
      background: linear-gradient(180deg, #4C2B94 0%, rgba(76, 43, 148, 0) 100%), linear-gradient(180deg, #A75FDC 0%, #A34881 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.14);
      @include option(border-radius, 44px, 20px);

      border: none;

      color: #FFFFFF;

      @include DESKTOP {
        transform: translateX(0);
      }

      @include MOBILE {
        @include option-mob(height, 389px);
      }

    }

    .rules {
      &__item-num {
        color: #FFFFFF;
        background: #FFDA00;
      }

      &__item-text {
        @include DESKTOP {
          @include option(width, 595.95px);
        }
      }

      &__item-image {
        display: block;
      }

      &__item-hr {
        @include option(width, 1062px);
      }
    }
  }

  &__item {
    box-sizing: border-box;

    position: relative;

    @include option(width, 518px, 257px);
    @include option(height, 607px, 389px);
    @include option(padding, 30px, 14px 22px);
    @include option(margin, 0 198px, 0 auto);

    background: rgba(255, 255, 255, 0.6);
    text-align: left;
    border: none;
    border-radius: 44px;
    color: #141D3A;

    @include DESKTOP {
      transform: translateX(-76%);
    }
  }

  &__item-num {
    @include option(width, 84px, 37px);
    @include option(height, 83.91px, 37px);
    @include option(line-height, 80px, 34px);
    @include option(font-size, 40px, 17px);

    border-radius: 50%;

    text-align: center;
    display: inline-block;
    font-weight: 700;

    background: #FFFFFF;
    color: #FFDA00;
  }

  &__item-hr {
    display: block;
    @include option(width, 458px);
    @include option(top, 134px);

    border: 1px solid rgba(255, 255, 255, 0.3);

    @include MOBILE {
      display: none;
    }
  }

  &__item-title {
    font-weight: 700;

    @include option(width, 360px, 131px);
    @include option(left, 33px);
    @include option(top, 153px);
    @include option(font-size, 40px, 17px);

    @include MOBILE {
      font-weight: 700;
      @include option-mob(line-height, 20px);
      @include option-mob(margin, 15px 0 10px 0);
    }
  }

  &__item-text {
    @include option(left, 33px);
    @include option(width, 455px, 218px);
    @include option(margin, 20px 0, 0);
    @include option(line-height, 31px, 20px);
    @include option(font-size, 24px, 17px);

    font-weight: 400;
    white-space: pre-line;
  }

  &__item-image {
    position: absolute;
    @include option(top, 165px, 22px);
    @include option(left, 830px, 148px);
    display: none;
    @include MOBILE {
      display: block;
    }

    img {
      @include option(width, 260px, 84.48px);
      @include option(height, 278px, 90.36px);
    }
  }


  &__nav {
    width: 259px;
    height: 45px;

    margin: 0 auto;

    display: flex;
    justify-content: center;
    z-index: 1;
    user-select: none;

    .swiper-button-disabled {
      opacity: 0.7;
    }

    @include MOBILE {
      display: none;
    }
  }

  &__nav-el {
    width: 45px;
    height: 45px;

    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 15.37px;
    }
  }

  &__nav-next {
    right: 0;
  }

  &__nav-prev {
    left: 0;

    img {
      transform: scaleX(-1);
    }
  }

  &__nav-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    margin: auto;
    color: #141D3A;
  }

  &__button {
    @include option(margin, 40px auto 0 auto)
  }

  &__button-text {
    @include MOBILE {
      display: none;
    }
  }

  &__button-textM {
    @include DESKTOP {
      display: none;
    }
  }
}
