.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background: #0F1114;

  @include option(height, 840px, 546px);
  @include option(font-size, 13.3333px, 8.19259px);
  @include option(line-height, 18px, 12px);
  color: #7F858A;


  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 400;


  &__logo {
    position: absolute;

    img {
      @include option(width, 186.67px, 114.7px);
      @include option(height, 52.24px, 31.95px);
    }

    @include option(left, 208px, 17.5px);
    @include option(top, 228px, 17.5px);

  }

  &__main-text {
    position: absolute;
    font-size: inherit;
    line-height: inherit;
    @include option(width, 904px, 281.01);
    //width: 281.01px;
    @include option(left, 208px, 16.3px);
    @include option(top, 310px, 64px);

  }

  &__icons {
    position: absolute;
    @include option(width, 219.52px);
    @include option(left, 208px);
    @include option(top, 686px);

    display: flex;
    justify-content: space-between;

    @include MOBILE {
      display: none;
    }

    &_mob {
      @include option(left, 16px);
      @include option(top, 288px);
      display: none;

      @include MOBILE {
        display: flex;
      }
    }
  }

  &__icon {
    display: block;
    width: 35.38px;
  }

  &__content {
    position: absolute;
    @include option(width, 448px);
    @include option(left, 1204px, 16.5px);
    @include option(top, 228px, 327px);

  }

  &__images {
    position: relative;
    display: flex;

    &_emblem {
      @include MOBILE {
        position: absolute;
      }

      img {
        @include option(width, 46.67px, 23.76px);
        @include option(height, 50.9px, 25.4px);
        @include option(margin, 30px 30px 25px 0, 9px);
      }
    }

    &_partners {
      @include option(margin, 25px 0);

      img {
        @include option(margin-right, 30px);
      }

      .footer__image_1 {
        img {
          @include option(width, 120px, 51.61px);
          @include option(height, 32.15px, 13.93px);
        }
      }

      .footer__image_2 {
        img {
          @include option(width, 120px, 61.44px);
          @include option(height, 44.2px, 31.95px);

        }
      }

      @include MOBILE {
        position: absolute;
        flex-direction: column;
      }
    }

  }

  &__text {
    position: relative;
    font-size: inherit;
    line-height: inherit;
    @include option(margin-bottom, 27px, 11.5px);
    @include option(left, 0, 92px);
    @include option(width, 448px, 204px);

    @include MOBILE {
      white-space: normal;
    }

    &_white {
      color: #FFFFFF;
    }
  }

  &__hr {
    display: none;
    position: absolute;

    @include option(width, 283.46px);
    @include option(left, 16.27px);
    @include option(top, 278px);

    background-color: #FFFFFF;
    border: 0 none;
    height: 0.2px;
    opacity: .5;

    @include MOBILE {
      display: block;
    }

  }

}
