/* Layout */
.main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  overflow: hidden;
  @include menu-visible {
    height: 100vh;
  }

  background-image: url("/images/bg/main-full.png");
  background-size: cover;
  background-repeat: no-repeat;

  @include MOBILE {
    background-image: url("/images/bg/mainM-full.png");
  }
}

.content-wrapper {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  z-index: 0;
}

#menu-burger:checked + .main-container {
  height: 100vh;
}
