.prizes {
  position: relative;
  width: 100%;
  @include option(height, 1089px, 900px);

  &__image {
    display: block;
    @include MOBILE {
      display: none;
    }
  }

  &__image_mob {
    position: absolute;
    @include option(top, -172px);

    display: none;
    @include MOBILE {
      display: block;
    }
  }

  &__button {
    position: relative;
    @include option(top, 900px, 750px);
    margin: 0 auto;
  }
}
