.menu {
  position: absolute;
  @include option(top, 34.5px);
  @include option(left, 766px);
  width: 50%;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 30.12px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__link {
    text-decoration: none;
    @include option(margin-right, 50px);
    &:last-child {
      @include option(margin-right, 0);
    }
  }

  @include MOBILE {
    display: none;
  }
}
